# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
proxy-server

# Build directories
dist
dist-ssr

# Local environment files
*.local
.env
generateSignature.cjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom components files to ignore
# git rm --cached /src/Components/PriceListLocal.jsx
# src/Components/Product/ProductLocal.jsx
# src/Components/Search/SearchLocal.jsx
# src/Components/PriceListLocal.jsx
# src/Components/UpdatePriceListLocal.jsx
src/Components/Deposit.jsx
src/Pages/Deposit.jsx
